# Ignore objects.
*.o

# Ignore astah backup file.
*.bak

# Ignore emacs backup files.
\#*\#
.\#*

# Ignore eclipse config files
java/greenvoip/bin/
java/greenvoip/.classpath
java/greenvoip/.project
java/greenvoip/.settings/*
